<h2> $ <%= @listing.price %> / night </h2>
<%= simple_form_for [@listing, @booking] do |f| %>
  <%= f.input :start_date, as: :date, html5: true, label:"Check-In" %>
  <%= f.input :end_date, as: :date, html5: true, label:"Checkout" %>
  <%= f.submit %>
<% end %>
