<!DOCTYPE html>
<html>
  <head>
    <title>RailsAuthentication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
    <%# Footer! %>
    <div class="max-w-2xl mx-auto">
    <footer class="p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"><a href="https://flowbite.com" class="hover:underline" target="_blank"><strong>Footer Top</strong></a>
      </span>
      <ul class="flex flex-wrap items-center mt-3 sm:mt-0">
        <li>
          <a href="#" class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-400">About</a>
        </li>
        <li>
          <a href="#" class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-400">Privacy
            Policy</a>
        </li>
        <li>
          <a href="#" class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-400">Licensing</a>
        </li>
        <li>
          <a href="#" class="text-sm text-gray-500 hover:underline dark:text-gray-400">Contact</a>
        </li>
      </ul>
    </footer>

    <p class="mt-5"><strong>Footer bottom</strong> <a class="text-blue-600 hover:underline"
        href="https://flowbite.com/docs/getting-started/introduction/" target="_blank"></a>
    </p>
    </div>
  </body>
</html>
