<!DOCTYPE html>
<html>
  <head>
    <title>Holiday Homes & Apartment Rentals - Airbnb - Airbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="path/to/font-awesome/css/all.min.css">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  </head>
  <%= render 'layouts/header' %>
  <body>
    <%= yield %>
    <%# Footer! %>
    <%= render 'layouts/footer' %>
  </body>
</html>
